*{
  font-family: "Abel", sans-serif;
}
form input{
  border: none;
  outline: 0;
  height: 60px;
  width: 60px;
  font-size: 20px;
  /* background-color:rgb(91,91,151); */
  /* background-color:  #158295; */
  background-color: black;
  margin: 2px;
  /* border-radius: 10px; */
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
}

.ac{
  color:black;
  background-color:darkgrey;
  
}


form input[type="button"]:hover{
  background-color: #816f85 ; 
}

.inputbox{
  text-align:right;
  flex: 1;
  font-size: 50px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
}
.equal{
  border-radius: 50px;
  background-color:#800080 ;
}
.oper{
  background-color:#800080 ;
}